{% extends 'employees\employee_base.html' %}

{% block title %} Trash Pick-up Confirmation {% endblock %}

{% block header %} Please Confirm Trash Pick-up for Customer Charge {% endblock %}

{% block content %}
<form action="{% url 'employees:confirm_charge' customer_to_update.id %}" method="post">
    {% csrf_token %}
    <br />
    {{customer_to_update.name}}
    <br />
    <br />
    <!-- <input type="submit" value="confirm trash pick-up"> -->
    <input type="button" class="btn btn-danger" value = "confirm trash pick-up"></button><br />
    Are you sure you want to push the big red button?<br />
    This button is dangerous, push at your own risk.
</form>

{% endblock %}