{% extends 'base.html' %}


{% block nav %}
<a class="navbar-brand btn btn-outline-danger" href="{% url 'employees:index' %}">Trash Collector</a>
{% endblock %}

{% block navbar %}
    <a class="nav-item nav-link btn btn-outline-danger" role="button" href="{% url 'employees:index' %}">Home</a>
    <a class="nav-item nav-link btn btn-outline-danger" role="button" href="{% url 'employees:edit_profile' %}">Edit Profile</a>
    <a class="nav-item nav-link btn btn-outline-danger" role="button" href="{% url 'logout' %}">Log Out</a>
{% endblock %}

{% block employee %}
<div class="container">
    <div class="row">
      <div class="col-4" align="center">
        <br />
        <br />        
            <div class="dropdown">
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                  Weekday Pick-up Filter
                </button>
                <div class="dropdown-menu"}>
                  <a class="dropdown-item btn-warning" href="{% url 'employees:Monday_filter' %}">Monday</a> 
                  <a class="dropdown-item btn-warning" href="{% url 'employees:Tuesday_filter' %}">Tuesday</a>
                  <a class="dropdown-item btn-warning" href="{% url 'employees:Wednesday_filter' %}">Wednesday</a>
                  <a class="dropdown-item btn-warning" href="{% url 'employees:Thursday_filter' %}">Thursday</a>
                  <a class="dropdown-item btn-warning" href="{% url 'employees:Friday_filter' %}">Friday</a>
                </div>
            </div>
      </div>
      <div class="col-8" align="center">
        <br />
        <br />
        <h1>{% block header %}{% endblock %}</h1>
        {% block content %}{% endblock %}
      </div>
    </div>
</div>
{% endblock %}