{% extends 'base.html' %}

{% block navbar %}
    <a class="nav-item nav-link btn btn-outline-danger" role="button" href="{% url 'employees:index' %}">Home</a>
    <a class="nav-item nav-link btn btn-outline-danger" role="button" href="{% url 'employees:edit_profile' %}">Edit Profile</a>
{% endblock %}


{% block employee %}
<div class="container">
    <div class="row">
      <div class="col-4" align="center">
        <br />
        <br />        
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  Weekday Pick-up Filter
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'employees:Monday_filter' %}">Monday</a>
                  <a class="dropdown-item" href="{% url 'employees:Tuesday_filter' %}">Tuesday</a>
                  <a class="dropdown-item" href="{% url 'employees:Wednesday_filter' %}">Wednesday</a>
                  <a class="dropdown-item" href="{% url 'employees:Thursday_filter' %}">Thursday</a>
                  <a class="dropdown-item" href="{% url 'employees:Friday_filter' %}">Friday</a>
                </div>
            </div>
      </div>
      <div class="col-8" align="center">
        <br />
        <br />
        <h1>{% block header %}{% endblock %}</h1>
        {% block content %}{% endblock %}
      </div>
    </div>
</div>
{% endblock %}