{% extends 'base.html' %}

{% block nav %}
    <a class="navbar-brand btn btn-outline-success" href="{% url 'customers:index' %}">Trash Collector</a>
{% endblock %}


{% block navbar %}
    <a class="nav-item nav-link btn btn-outline-success" href="{% url 'customers:index' %}">Home</a>
    <a class="nav-item nav-link btn btn-outline-success" href="{% url 'customers:one_time' %}">One-Time Pick Up</a>
    <a class="nav-item nav-link btn btn-outline-success" href="{% url 'customers:suspend' %}">Suspend Service</a>
    <a class="nav-item nav-link btn btn-outline-success" href="{% url 'customers:edit_profile' %}">Edit Profile</a>
    <a class="nav-item nav-link btn btn-outline-success" role="button" href="{% url 'logout' %}">Log Out</a>

{% endblock %}